/*Rodapé*/
.footer{
    display: row;
    align-items: center;
    text-align: center;
    gap: 2em;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color:var(--color-footer);
    color:var(--color-footer);
}

.footer-title{
    text-align: center;
    color: var(--color-font-section-title);
    font-weight: 600;
    font-size: 2.25em;
    line-height: 2.75em;
    letter-spacing: -2%;
}

.footer-txt{
    text-align: center;
    padding: 2em;
    color: var(--color-font-topics);
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.875em;
}

form{
    display: inline;
    align-items: center;
}

.footer-input{
    display: inline;
    width: 22.5em;
    height: 3em;
    gap: 0.5em;
    padding: 0.75em 0,875em 0.75em 1em;
    border-radius: 8px;
    border: 1px solid rgba(208, 213, 221, 1);
}

.btn-register{
    text-align: center;
    width: 7.25em;
    height: 3em;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    border-width: 0.0625em;
    background-color: var(--color-font-section);
    color: var(--font-main);
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
}

.copyright_notice{
    color: var(--color-font-copyright);
    font-weight: 400;
    font-size: 1em;
    line-height: 3em;
}

