.header{
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-main);
}

.navbar{
    display: flex;
    align-items: center;
}

.logo{
    padding-left: 0.5em;
    padding-right: 5em;
    font-size: 18px;
    font-weight: 500;
}

.topics{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    top: 100%;
    margin-right: 5em;
    padding: 1.5em;
    color: var(--color-font-topics);
}

.topics__link{
    text-decoration: none;
    color: var(--color-font-topics);
}

.navbar_img{
    margin-left: 8em;
}

.logo{
    color: var(--color-font-logo);
    font-size: 18px;
    font-weight: 500;
}

.btn_enter{
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color:transparent;
    color: var(--color-font-topics);
}

.btn_register{
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius:8px;
    padding: 10px 20px;
    background-color: var(--color-font-section);
    color: var(--color-main);
}