/*seção sobre nós*/
.about_us{
    padding: 5em;
    display: grid;
    text-align: center;
}

.about_us-title{
    color: var(--color-font-section);
    font-size: 16px;
    font-weight: 600;
}

.about_us-subtitle{
    padding: 0.75em 0 0.75em 0;
    color:var(--color-font-section-title);
    font-size: 3em;
    font-weight: 600;
}

.about_us-txt{
    line-height: 1.875em; 
    color: var(--color-font-topics);
    font-size: 1.25em;
    font-weight: 400;
}

/*seção métricas*/
.metrics{
    display:flex;
    justify-content: space-around;
    text-align: left;
    position: relative;
    padding-bottom: 6em;
}

.division{
    display: flex;
    justify-content: space-between;
    column-count: 4;
    gap: 4em;
    margin: 0 14em 0 14em;
}

.met_title{
    color: var(--color-font-section);
    font-size: 3.75em;
    font-weight: 600;
    line-height: 4.5em;
}

.met_subtitle{
    color:var(--color-font-section-title);
    font-size: 1.125em;
    line-height: 1.75em;
}

.met_txt{
    color: var(--color-font-topics);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}

/*seção de vagas*/
.vacancies_open{
    display: row;
    justify-content: space-around;
    padding: 5em 20% 4.2em 20%;
    text-align: center;
}

.vacancies_open-div{
    display: inline-block;
    width: 9em;
    border-radius: 1em;
    background-color: rgba(142, 36, 36, 0.05)
}

.vacancies_open-title{
    color: var(--color-font-section);
}

.vacancies_open-subtitle{
    padding: 0.75em 2em 0.75em 2em;
    color:var(--color-font-section-title);
    font-size: 2.25em;
    font-weight: 600;
}

.vacancies_open-txt{
    line-height: 1.875em; 
    color: var(--color-font-topics);
    font-size: 1.25em;
    font-weight: 400;
}
.vacancies_open-img{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 3em;
}

.img_meeting{
    height: 25em;
    width: 76em ;
}

/*seção de lista de vacancies*/
.vacancies{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    padding-right: 2em;
    padding-left: 2em;
    gap: 4em;
    margin-bottom: 4em;
}

.vacancies_area{
    display: inline-block; 
}

.vacancies_area-txt{
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.25em;
    line-height: 1.875em;
}

.vacancies_area_item{
    padding-top: 1.5em;
    padding-right: 20em;
    padding-bottom: 1.75em;
    padding-left: 1.5em;
    border-radius: 1em;
    border-width: 0.0625em;
    border: 1px solid rgba(234, 236, 240, 1);
    margin-bottom: 1em;
    background: rgba(255, 255, 255, 1);
}

.vacancies_area_item-txt{
    display: grid;
    padding-bottom: 1.5625em;
    font-size: 1.125em;
    line-height: 1.75em;
}

.vacancies_area_item-dsc{
    padding-right: 2em;
    color: var( --color-font-topics);
}

/*seção de depoimentos*/
.testimonials{
    display: grid;
    text-align: center;
    place-items: center;
    border-radius: 1em;
    background: rgba(195, 25, 25, 0.03);
    padding: 4em;
    gap: 2em;
}

.testimonials-title{
    color: var(--color-font-section);
    font-weight: 600;
    line-height: 1.25em;
}

.testimonials-subtitle{
    font-weight: 500;
    font-size: 2.25em;
    line-height: 44px;
    letter-spacing: -2%;
}

.testimonials-name{
    color: var(--color-font-topics);
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
}

.testimonials-profession{
    font-weight: 400;
    line-height: 1.25em;
}

